// Default Colors
// ----------------------------------------------------------------
$colors: (
  primary: (
    base: #3880ff,
    contrast: #fff
  ),
  secondary: (
    base: #3dc2ff,
    contrast: #fff
  ),
  success: (
    base: #2dd36f,
    contrast: #fff
  ),
  warning: (
    base: #ffc409,
    contrast: #000
  ),
  danger: (
    base: #eb445a,
    contrast: #fff
  )
) !default;

$background-color: #fff !default;
$text-color: #000 !default;

// Other Default Values
// ----------------------------------------------------------------
$css-variable-prefix: "sys" !default;
$color-namespace: ".sys-color" !default;
