@import "./variables.scss";
@import "./utils.scss";

// Get the specific color's css variable from the name and variation. Alpha/variation are optional.
// --------------------------------------------------------------------------------------------
// Example usage:
// get-color(primary) => rgba(var(--sys-color-primary-base, 56,128,255), 1)
// get-color(secondary, contrast) => rgba(var(--sys-color-primary-contrast, 255,255,255), 1)
// get-color(primary, base, 0.5) => rgba(var(--sys-color-primary, 56, 128, 255), 0.5)
// --------------------------------------------------------------------------------------------
@function get-color($key, $variation: "base", $alpha: 1) {
  $values: map-get($colors, $key);
  $base: map-get($values, "base");
  $map: (
    base: $base,
    contrast: map-get($values, "contrast"),
    shade: get-color-shade($base),
    tint: get-color-tint($base)
  );
  $variable: "color-#{$key}-#{$variation}";

  @return get-color-with-css-variable(
    $variable,
    map-get($map, $variation),
    $alpha
  );
}

// Get the specific color's css variable from the step. Alpha is optional.
// --------------------------------------------------------------------------------------------
// Example usage:
// get-step-color() => rgba(var(--sys-color-background, 255, 255, 255), 1);
// get-step-color(0, 0.5) => rgba(var(--sys-color-background, 255, 255, 255), 0.5);
// get-step-color(1000) => rgba(var(--sys-color-text, 0, 0, 0), 1);
// get-step-color(50) => rgba(var(--sys-color-step-50, 242, 242, 242), 1);
// --------------------------------------------------------------------------------------------
@function get-step-color($step: 0, $alpha: 1) {
  @if ($step == 1000) {
    @return get-color-with-css-variable("color-text", $text-color, $alpha);
  }

  @if ($step == 0) {
    @return get-color-with-css-variable(
      "color-background",
      $background-color,
      $alpha
    );
  }

  @if $step < 0 or $step > 1000 {
    @error "Color step must be between 0 and 1000.";
    @return null;
  } @else if $step % 50 != 0 {
    @error "Color step must be divisible by 50.";
    @return null;
  }

  $value: mix($text-color, $background-color, $step / 10);

  @return get-color-with-css-variable("color-step-#{$step}", $value, $alpha);
}

// Get the current color's css variable from the variation. Alpha/variation are optional.
// --------------------------------------------------------------------------------------------
// Example usage:
// current-color() => rgba(var(--sys-color-current-base), 1);
// current-color(contrast) => rgba(var(--sys-color-current-contrast), 1);
// current-color(base, 0.5) => rgba(var(--sys-color-current-base), 0.5);
// --------------------------------------------------------------------------------------------
@function current-color($variation: "base", $alpha: 1) {
  @return rgba(var(#{get-var("color-current-#{$variation}")}), $alpha);
}
